/* Reset Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.5em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}